
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Dungeon</title>
    </head>
    <body>
        <header>
            <h2>Aqui va un header generico</h2>
        </header>
        <main>
            <h2>Aqui va el calabozo</h2>
        </main>
    </body>
</html>
