<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("_Bootstrap")
    <link href="~/CSS/Reset.css" rel="stylesheet" />
    <link href="../CSS/DwarfStyles.css" rel="stylesheet" />
    <title>DwarfQuiz</title>
</head>
    <body>
        <header>
            @Html.Partial("_NavBar")
        </header>
        <main>
            <div id="test-question">
                <h3>Aqui van las preguntas</h3>
            </div>
        </main>
    </body>
</html>
