<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("_Bootstrap")
    <link href="~/CSS/Reset.css" rel="stylesheet" />
    <link href="~/CSS/DwarfStyles.css" rel="stylesheet" />
    <title>DwarfQuiz</title>
</head>
    <body>
        <header>
            @Html.Partial("_NavBar")
        </header>
        <main>
            <h2>Aqui va la encuesta de enanos</h2>
        </main>
    </body>
</html>
