<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/CSS/Reset.css" rel="stylesheet" />
    <link href="~/CSS/Styles.css" rel="stylesheet" />
    <title>Index</title>
</head>
    <body>
        <header>
            <img src="~/Img/logo-code.png" alt="Logo temporal para el menu de juegos" width="150"/>
        </header>
        <main>
            <form action="/Main/Quiz" method="post">
                <input type="submit" value="¿Odia usted a los enanos?" />
            </form>
            <form action="/Main/Nightmare" method="post">
                <input type="submit" value="La pesadilla" />
            </form>
            <form action="/Main/PokeBattle" method="post">
                <input type="submit" value="Batalla de Mancos" />
            </form>
        </main>
        <footer>
            <p>Alexandros Estrella de la Mañana</p>
        </footer>
    </body>
</html>
