
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/CSS/Reset.css" rel="stylesheet" />
        <title>PokemonBattle</title>
    </head>
    <body>
        <header>
            <h2>Aqui va un header generico</h2>
        </header>
        <main>
            <h2>Aqui va la batalla pokemon</h2>
        </main>
    </body>
</html>
