body {
    background-color: #C5C86A;
    color: #221F00;
    font-family: 'Montserrat', 'sans-serif';
    padding: 0px;
}

header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

main {
    width: 500px;
    margin: 30px auto 30px auto;
    text-align: center;
}